---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/ui/link.astro";
import Icon from "../components/ui/Icon/Icon.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
---

<BaseLayout
  title="Contact | Stefan Gogov"
  description="Contact page of Stefan Gogov's personal portfolio."
>
  <div class="stack gap-20">
    <header class="wrapper hero">
      <div class="hero-content">
        <Hero
          align="center"
          title="Contact me"
          tagline="Want to work together? I'd love to hear from you."
        />
        <Link
          class="link"
          href="https://app.enhancv.com/share/5e64dcd1/?utm_medium=growth&utm_campaign=share-resume&utm_source=dynamic"
          style="rounded"
          external
        >
          <Icon icon="readCV" size="1.33em" /> Download CV
        </Link>
      </div>
      <img
        alt="illustration of a men coding web projects"
        src="/assets/illustrations/resume.svg"
      />
    </header>

    <main class="wrapper stack gap-10">
      <Skills />
      <ContactCTA />
    </main>
  </div>
</BaseLayout>

<style lang="scss">
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 2.5rem;
    gap: 1.5rem;

    img {
      width: 100%;
      max-width: 22rem;
    }

    .link {
      width: fit-content;
      margin: 1rem auto;
    }
  }

  @media (min-width: 50em) {
    .hero {
      flex-direction: row;
      gap: 6rem;
    }
  }
</style>
