---
import CallToAction from "./CallToAction.astro";
import Icon from "./ui/Icon/Icon.astro";
import type { Props as IconProps } from "./ui/Icon/Icon.astro";

const iconLinks: { label: string; href: string; icon: IconProps["icon"] }[] = [
  {
    label: "LinkedIn",
    href: "https://www.linkedin.com/in/stefan-gogov/",
    icon: "linkedin",
  },
  {
    label: "GitHub",
    href: "https://github.com/stekatag",
    icon: "github-logo",
  },
  {
    label: "Personal Coding Blog",
    href: "https://codingly.netlify.app/",
    icon: "codeblock",
  },
  {
    label: "Photography Portfolio",
    href: "https://sgogov.com",
    icon: "camera",
  },
];
---

<aside>
  <div class="contact-info stack gap-4">
    <h2 class="contact-info__heading">Want to get in touch?</h2>
    <p class="contact-info__description">
      Find me across various social media platforms. Feel free to reach out
      through any of these channels. Let's chat and bring your ideas to life!
    </p>
  </div>
  <div>
    <CallToAction href="mailto:stefangogov@proton.me">
      Send a message
      <Icon icon="message" size="1.2em" />
    </CallToAction>
    <span>OR</span>
    <div class="socials">
      {
        iconLinks.map(({ href, icon, label }) => (
          <a href={href} class="social" target="_blank" title={label}>
            <Icon icon={icon} />
          </a>
        ))
      }
    </div>
  </div>
</aside>

<style lang="scss">
  aside {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 3rem;
    border-radius: 1rem;
    border: 1px solid var(--gray-800);
    padding: 3rem 2rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .contact-info {
    text-align: center;

    &__heading {
      font-size: var(--text-2xl);
    }

    &__description {
      color: var(--gray-300);
    }
  }

  span {
    display: block;
    text-align: center;
    letter-spacing: 0.25em;
    margin: 1rem 0;
    font-size: var(--text-sm);
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    font-size: var(--text-2xl);

    .social {
      display: flex;
      text-decoration: none;
      color: var(--accent-dark);
      transition: color var(--theme-transition);

      &:hover,
      &:focus {
        color: var(--accent-regular);
      }
    }
  }

  @media (min-width: 50em) {
    aside {
      padding: 5.5rem;
      grid-template-columns: 5fr 3fr;
      justify-content: space-between;
    }

    .contact-info {
      text-align: left;
      max-width: 35rem;

      &__heading {
        font-size: var(--text-3xl);
      }
    }
  }
</style>
