---
import Icon from "./ui/Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Full Stack</h2>
    <p>
      Expertise in both frontend and backend technologies. From interactive user
      interfaces to server-side logic, I deliver comprehensive web solutions
      tailored to your needs.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="layout" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Modern Design</h2>
    <p>
      Modern, responsive designs that captivate users on any device. Your web
      application will look stunning and function flawlessly on all screens.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="performance"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Performance</h2>
    <p>
      Performance-driven development for blazing-fast websites. I ensure your
      application loads quickly and delivers a seamless user experience.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 2rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-300);
    max-width: 35rem;
  }

  @media (min-width: 60em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
